.banner {
    text-align: center;
    padding: 2rem;
    background-color: #e9ecef;
  }
  
  .banner input {
    padding: 0.5rem;
    width: 50%;
    margin-top: 1rem;
  }
  .banner {
    text-align: center;
    padding: 2rem;
    background-color: #358b79;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .banner h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .banner input {
    padding: 0.7rem;
    width: 60%;
    border: 1px solid #43b992;
    border-radius: 5px;
  }
  