.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgb(63, 138, 107);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgb(0, 255, 200);
  }
  
  .product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .product-card p {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  